Port {{JENKINS_AGENT_SSH_PORT}}
Protocol 2
PubkeyAuthentication yes
PasswordAuthentication no
PermitRootLogin no
AllowUsers {{JENKINS_AGENT_ACCOUNT}}
AuthorizedKeysFile {{JENKINS_AGENT_REMOTE_FS}}/.ssh/authorized_keys
