VERIFICATION_RUN_ID={{VERIFICATION_RUN_ID}}
GERRIT_TRIGGER_SERVER_NAME={{GERRIT_TRIGGER_SERVER_NAME}}
GERRIT_VERIFICATION_PROJECT={{GERRIT_VERIFICATION_PROJECT}}
GERRIT_VERIFICATION_BRANCH={{GERRIT_VERIFICATION_BRANCH}}
JENKINS_AGENT_NODE_NAME={{JENKINS_AGENT_NODE_NAME}}
JENKINS_AGENT_LABELS={{JENKINS_AGENT_LABELS}}
JENKINS_AGENT_SCHEDULING_LABEL={{JENKINS_AGENT_SCHEDULING_LABEL}}
VERIFICATION_SUCCESS_MESSAGE=Jenkins verification succeeded
VERIFICATION_FAILURE_MESSAGE=Jenkins verification failed
